# Build output
build/

# Compiled object files
*.o
*.obj
*.lo
*.slo

# Precompiled headers
*.gch
*.pch

# Libraries and executables
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# macOS
.DS_Store

# Editor/IDE
.vscode/
.idea/
*.swp
